<div class="modal-style">	
	<div class="modal-header clearfix">
		<h4 ng-if="accion == 'crear'" class="modal-title">Nuevo cliente</h4>
		<h4 ng-if="accion == 'editar'" class="modal-title">Editar cliente</h4>
		<h4 ng-if="accion == 'eliminar'" class="modal-title">Eliminar cliente</h4>
		<span class="close ion ion-android-close" ng-click="modalClose()"></span>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="modal-demo-form" ng-if="accion == 'crear' || accion == 'editar'" action="javascript:;">
			<div class="row form-group">
				<div class="col-sm-6">
					<label>Nombre</label>
					<input type="text" class="form-control" ng-model="cliente.nombre">
				</div>
				<div class="col-sm-6">
					<label>Apellido</label>
					<input type="text" class="form-control" ng-model="cliente.apellido">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label>Dirección</label>
					<input type="text" class="form-control" ng-model="cliente.direccion">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-6">
					<label>DPI</label>
					<input type="text" class="form-control" ng-model="cliente.dpi">
				</div>
				<div class="col-sm-6">
					<label>Teléfono</label>
					<input type="text" class="form-control" ng-model="cliente.telefono">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-6">
					<label class="control-label">Género</label>
					<select class="form-control" ng-model="cliente.sexo">
						<option value="0" selected>Seleccione</option>
						<option value="1">Masculino</option>
						<option value="2">Femenino</option>
					</select>
				</div>
				<div class="col-sm-6">
					<label class="control-label">Estado civil</label>
					<select class="form-control" ng-model="cliente.estado_civil">
						<option value="0" selected>Seleccione</option>
						<option value="1">Soltero (a)</option>
						<option value="2">Casado (a)</option>
					</select>
				</div>
			</div>
		</form>
		<div class="row form-group" ng-if="accion == 'eliminar'">
			<h3>¿Realmente desea eliminar este cliente?</h3>
		</div>
		<div class="row form-group">
			<div class="col-sm-12 text-right">
				<button class="btn btn-success" ng-if="accion == 'crear'" ng-click="saveData(cliente)">Registrar</button>
				<button class="btn btn-success" ng-if="accion == 'editar'" ng-click="saveData(cliente)">Actualizar</button>
				<button class="btn btn-danger" ng-if="accion == 'eliminar'" ng-click="saveData(cliente)">Confirmar</button>
			</div>
		</div>
	</div>
</div>