<div class="page">
	<div class="page-wrap">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading"><h4>Abonar a crédito</h4></div>
					<div class="panel-body">
						<form role="form" class="form-horizontal" ng-submit="validarCliente(search_client)">
							<div class="form-group">
								<label class="col-sm-1 control-label">Número de DPI:</label>
								<div class="col-md-5">
									<input type="number" class="form-control" ng-model="search_client.dpi">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row hidden row-detalle">
			<div class="col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
				<div class="panel-heading">Detalle del crédito</div>
					<div class="panel-body">
						<div class="row">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-md-1 control-label">Nombre:</label>
									<div class="col-md-5">
										<input type="text" class="form-control" ng-model="detalle_cliente.nombre" disabled>
									</div>

									<label class="col-md-2 control-label">Cuota diaria:</label>
									<div class="col-md-2">
										<input type="text" class="form-control" ng-model="detalle_cliente.cuota_diaria" disabled>
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="margin-left: 18%;">
							<div class="col-md-3">
								<div class="panel panel-default mb20 mini-box panel-hovered">
									<div class="panel-body">
										<div class="clearfix">
											<div class="info left">
												<h2 class="mt0 text-primary text-bold">{{credito.total}}</h2>
											</div>
										</div>
									</div>
									<div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
										<p class="mt0 mb0 left">Monto del préstamo</p>
									</div>
								</div>
							</div>

							<div class="col-sm-3">
								<div class="panel panel-default mb20 mini-box panel-hovered">
									<div class="panel-body">
										<div class="clearfix">
											<div class="info left">
												<h2 class="mt0 text-success text-bold">{{credito.saldo}}</h2>
											</div>
										</div>
									</div>
									<div class="panel-footer clearfix panel-footer-sm panel-footer-success">
										<p class="mt0 mb0 left">Saldo Cancelado</p>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="panel panel-default mb20 mini-box panel-hovered">
									<div class="panel-body">
										<div class="clearfix">
											<div class="info left">
												<h2 class="mt0 text-success text-bold">{{credito.saldo_abonado}}</h2>
											</div>
										</div>
									</div>
									<div class="panel-footer clearfix panel-footer-sm panel-footer-success">
										<p class="mt0 mb0 left">Saldo Abonado</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row hidden row-detalle">
			<div class="col-sm-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Registra nuevo abono</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-4 control-label">Cantidad</label>
								<div class="col-md-4">
									<div class="input-group">
										<span class="input-group-addon">Q</span>
										<input type="number" class="form-control" ng-model="cantidad_ingresada" autofocus>
										<span class="input-group-addon">.00</span>
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="clearfix right">
									<button class="btn btn-primary mr5 btn-rounded" ng-click="modalcuotas(cantidad_ingresada)">Aceptar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="toast toast-{{positionModel}}">
			<alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-{{toast.anim}}">
				<div ng-bind-html="toast.msg"></div>
			</alert>
		</div>
	</div>
</div>